<% provide(:title, "Making Sales a Competitive Sport") %>

<%= row do %>
  <%= panel size: 6, offset: 3 do %>
    <div id="accordion">
      <% if can? :index, Prospect %>
        <%= menu_toggle 'Smile & Dial', 'collapse1' do %>
          <%= render partial: 'smile' %>
        <% end %>
        <%= menu_toggle 'Walk & Talk', 'collapse2' do %>
          <%= render partial: 'walk' %>
        <% end %>
        <%= menu_toggle 'Search', 'collapse3' do %>
          <%= render partial: 'search' %>
        <% end %>
        <%= menu_button 'List all Leads', prospects_path %>
        <% if can? :index, List %>
          <%= menu_button 'List Management', lists_path %>
        <% end %>
      <% end %>
      <% if can? :create, Prospect %>
        <%= menu_button 'Add Lead(s)', new_prospect_path %>
      <% end %>
      <% if can? :index, Prospect %>
        <%= menu_button 'Appointments', '#' %>
        <%= menu_button 'Follow-up', '#' %>
      <% end %>
      <% if can? :index, Delayed::Job %>
        <%= menu_button 'Background Tasks', jobs_path %>
      <% end %>
      <% if can? :create, Import %>
        <%= menu_button 'Imports', imports_path %>
      <% end %>
    </div>
  <% end %>
<% end %>
