<% # @Author: Robert D. Cotey II <coteyr@coteyr.net> %>
<% # @Date:   2017-01-03 11:23:06 %>
<% # @Last Modified by:   Robert D. Cotey II <coteyr@coteyr.net> %>
<% # @Last Modified time: 2017-01-03 11:23:06 %>

<tr>
  <td><%= user.name %></td>
  <td><%= user.username %></td>
  <td><%= user.email %></td>
  <td><%= user.permission_level %></td>
  <td><%= button 'edit', edit_user_path(user) %></td>
  <td><%= button 'delete', user_path(user), data: { method: 'delete', confirm: 'Are you sure?' } %></td>
</tr>
