<% # @Author: Robert D. Cotey II <coteyr@coteyr.net> %>
<% # @Date:   2017-01-03 11:52:37 %>
<% # @Last Modified by:   Robert D. Cotey II <coteyr@coteyr.net> %>
<% # @Last Modified time: 2017-01-03 11:52:37 %>

<%= row do %>
  <%= form_for @user do |f| %>
    <%= render partial: 'layouts/errors', locals: {objekt: @user} %>
    <%= well "Create User", size: 6, offset: 3 do %>
      <%= f.text_field :first_name, autofocus: true %>
      <%= f.text_field :last_name %>
      <%= f.text_field :username %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <% if current_user.admin? %>
        <%= f.select :group_id, @groups.map{ |g| [g.name, g.id] } , selected: @user.group_id, class: 'form-control' %>
        <%= f.select :permission_level, ['Normal', 'Manager', 'Admin'], selected: @user.permission_level, class: 'form-control' %>
      <% end %>
      <% if current_user.manager? %>
        <%= f.select :permission_level, ['Normal', 'Manager'], selected: @user.permission_level, class: 'form-control' %>
          </div>
        </div>
        <%= f.hidden_field :group_id, value: current_user.group_id %>
      <% end %>
      <%= f.text_field :email %>

      <%= panel_footer do %>
        <%= f.submit "Update", class: "btn btn-primary gradient raised round pull-right" %>
        <% end %>
    <% end %>
  <% end %>
<% end %>
