<% # @Author: Robert D. Cotey II <coteyr@coteyr.net> %>
<% # @Date:   2017-01-05 14:30:53 %>
<% # @Last Modified by:   Robert D. Cotey II <coteyr@coteyr.net> %>
<% # @Last Modified time: 2017-01-05 14:30:53 %>

<% provide(:title, "Making Sales a Competitive Sport") %>

<%= row do %>
  <%= render partial: 'layouts/errors', locals: {objekt: @prospect} %>
  <%= well 'Add New Prospect', size: 6, offset: 3 do %>
    <%= form_for @prospect, builder: GoSellHalfFormBuilder do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :group_id, value: current_user.group_id %>
      <div class="row" style="background: gold;">
        <div class="col-xs-12 center">
          Use your phone's camera to Scan Business Card <i class="fa fa-camera"></i>
        </div>
        <div class="col-xs-12 center">
          <input type="file" accept="image/*" capture="camera">
        </div>
      </div>
      <%= row do %>
        <%= f.text_field :campaign %>
        <%= f.select :list_id, @lists.map {|l| [l.list_id, l.id] } %>
      <% end %>
      <%= row do %>
        <%= f.text_field :company %>
      <% end %>
      <%= row do %>
        <%= f.text_field :first_name, split: 4 %>
        <%= f.text_field :last_name, split: 4 %>
        <%= f.text_field :title, split: 4 %>
      <% end %>
      <%= row do %>
        <%= f.text_field :company_phone %>
        <%= f.text_field :website %>
      <% end %>
      <%= row do %>
        <%= f.text_field :address %>
        <%= f.text_field :address2 %>
      <% end %>
      <%= row do %>
        <%= f.text_field :city, split: 3  %>
        <%= f.text_field :state, split: 3  %>
        <%= f.text_field :zip, split: 3 %>
        <%= f.text_field :county, split: 3 %>
      <% end %>
      <%= panel_footer do %>
      <%= link_to 'Back', prospects_path, class: "btn btn-default gradient raised" %>
      <%= f.submit class: "btn btn-primary gradient raised pull-right" %>
      <% end %>
    <% end %>

  <% end %>
<% end %>



















