<%= collapseable_well "More About #{@prospect.company}", 'more' do %>
  <!--Additional fields for the prospective company-->
  <%= row do %>
    <div class="col-xs-6">
      <%= data_pair '# of Empl:', @prospect, :numberofemployees %>
      <%= data_pair 'sic:', @prospect, :sic %>
      <%= data_pair 'Other 1:', @prospect, :other1 %>
      <%= data_pair 'Other 3:', @prospect, :other1 %>
      <%= data_pair 'Other 4:', @prospect, :other1 %>
      <%= data_pair 'Other 7:', @prospect, :other1 %>
      <%= data_pair 'Lead Owner', current_user, :name %>
      <%= data_pair 'Canvassed', @prospect, :canvassed %>
    </div>
    <div class="col-xs-6">
      <%= data_pair 'County:', @prospect, :county %>
      <%= data_pair 'Fax:', @prospect, :fax %>
      <%= data_pair 'Other 2:', @prospect, :other1 %>
      <%= data_pair 'Other 4:', @prospect, :other1 %>
      <%= data_pair 'Other 6:', @prospect, :other1 %>
      <%= data_pair 'Other 8:', @prospect, :other1 %>
      <%= data_pair 'Source:', @prospect, :source %>
      <%= data_pair 'Called:', @prospect, :called %>
    </div>
  <% end %>
  <%= render partial: 'result', collection: @prospect.results %>
<% end %>

