<% provide(:title, "Making Sales a Competitive Sport") %>

<%= row do %>
  <%= well 'Listing Prospects' do %>
    <%= button 'Export CSV', prospects_path(format: "csv"), type: 'primary', class: 'pull-right' %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Campaign</th>
            <th>List#</th>
            <th>Company</th>
            <th>Co Phone</th>
            <th>City</th>
            <th>State</th>
            <th>Full Name</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'prospect', collection: @prospects %>
        </tbody>
      </table>
      <div class="row center">
        <div class="col-md-12 panel-footer"><%= paginate @prospects %></div>
      </div>
  <% end %>
<% end %>

