<% provide(:title, "Making Sales a Competitive Sport") %>

<div id="agent-view">
  <div class="container-fluid">
    <div class="panel panel-default col-md-6" id="panel-container">
      <div class="row">
        <div class="col-xs-12 center">&nbsp;</div>
      </div>

      <div class="panel-group" id="accordion">

        <div class="panel center">
          <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" role="button" class="btn btn-default raised btn-block">Smile & Dial</a>
            </div>
            <div class="col-xs-3"></div>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 center">&nbsp;</div>
              </div>
              <div class="row">
                <div class="center">&nbsp;</div>
              </div>
              <div class="row center">
                <div class="btn-group">
                  <button type="button" class="btn btn-success gradient round btn-sm dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-list"></span> Select List
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <% @goList.each do |p| %>
                      <li><%= link_to "#{p.list_number}", prospects_path(list_number: p.list_number, go: 'smile'), data: {confirm: "Warning... keep this up and you're going to start making more money."} %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 center">&nbsp;</div>
              </div>
              <div class="row">
                <div class="col-xs-12 center">&nbsp;</div>
              </div>
              
              <div class="row">
                <div class="center"><%= link_to "Reset Lists", reset_prospects_path(go: 'smile'), class:"btn btn-warning gradient round raised btn-sm" %></div>
              </div>

              <div class="row center">
                <div class="btn-group">
                  <button type="button" class="btn btn-warning gradient round btn-sm dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-list"></span>Reset a List
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <% @goList.each do |r| %>
                      <li><%= link_to "#{r.list_number}", reset_prospects_path(go: 'smile'), data: {confirm: "Hit the end of the Line?  Let's do it again!"} %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            
              <div class="row">
                <div class="col-xs-12 center">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel center">
          <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" role="button" class="btn btn-default raised btn-block">Walk & Talk</a>
            </div>
            <div class="col-xs-3"></div>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 center">&nbsp;</div>
              </div>
              <div class="row">
                <div class="center">Enter street name for all leads on a street
                <br>&nbsp;</div>
              </div>
              <div class="row">
                <div class="center">
                  <%= form_tag(prospects_path, method: :get) do %>
                    <%= text_field_tag :loc, params[:loc], placeholder: "Search by Street" %>
                    <%= hidden_field_tag :go, 'walk' %>
                    <%= submit_tag 'Go', class:"btn btn-info gradient round raised btn-xs", name: nil %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 center">&nbsp;</div>
              </div>
              <div class="row">
                <div class="col-xs-12 center">&nbsp;</div>
              </div>
              <div class="row">
                <div class="center"><%= link_to "Reset All Streets", reset_prospects_path(go: 'talk'), class:"btn btn-warning gradient round raised btn-sm" %></div>
              </div>
              <div class="row">
                <div class="col-xs-12 center">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel center">
          <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" role="button" class="btn btn-default raised btn-block">Search</a>
            </div>
            <div class="col-xs-3"></div>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 center">&nbsp;</div>
              </div>
              <div class="row">
                <div class="center">Search for a prospect by company name
                <br>&nbsp;</div>
              </div>
              <div class="row">
                <div class="center">
                  <%= form_tag(prospects_path, method: :get) do %>
                    <%= text_field_tag :co, params[:co], placeholder: "Search by Company" %>
                    <%= submit_tag 'Go', class:"btn btn-info gradient round raised btn-xs", name: nil %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 center">&nbsp;</div>
              </div>
              <div class="row">
                <div class="col-xs-12 center">&nbsp;</div>
              </div>
              <div class="row">
                <div class="center">Search for prospect by company phone #
                <br>&nbsp;</div>
              </div>
              <div class="row">
                <div class="center">
                  <%= form_tag(prospects_path, method: :get) do %>
                    <%= text_field_tag :phon, params[:phon], placeholder: "Search by Co Phone" %>
                    <%= submit_tag 'Go', class:"btn btn-info gradient round raised btn-xs", name: nil %>
                  <% end %>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 center">&nbsp;</div>
              </div>
              <div class="row">
                <div class="col-xs-12 center">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel center">
          <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
              <%= link_to "List All Leads", prospects_path, class:"btn btn-default raised btn-block" %>
            </div>
            <div class="col-xs-3"></div>
          </div>
        </div>

        <div class="panel center">
          <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
              <%= link_to "Add Lead(s)", new_prospect_path, class:"btn btn-default raised btn-block" %>
            </div>
            <div class="col-xs-3"></div>
          </div>
        </div>

        <div class="panel center">
          <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
              <%= link_to "Appointments", "#", class:"btn btn-default raised btn-block" %>
            </div>
            <div class="col-xs-3"></div>
          </div>
        </div>

        <div class="panel center">
          <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
              <%= link_to "Follow-up", "#", class:"btn btn-default raised btn-block" %>
            </div>
            <div class="col-xs-3"></div>
          </div>
        </div>

        <div class="panel center">
          <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
              <%= link_to "Delete List", list_delete_prospects_path, class:"btn btn-default raised btn-block" %>
            </div>
            <div class="col-xs-3"></div>
          </div>
        </div>

        <div class="panel center">
          <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" role="button" class="btn btn-default raised btn-block">Delete a List</a>
            </div>
            <div class="col-xs-3"></div>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="center">&nbsp;</div>
              </div>
              <div class="row center">
                <div class="btn-group dropup">
                  <button type="button" class="btn btn-danger btn-sm dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-list"></span> Delete List
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-up">
                    <% @goList.each do |p| %>
                      <li><%= link_to "#{p.list_number}", list_delete_prospects_path(list_number: p.list_number), data: {confirm: "You are about to delete a list, please confirm your intent."} %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 center">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>